#view {
    background: url("image/rectangle1.png") no-repeat;
    width: 90rem;
    height: 40.5rem;
    /*margin: 0.5rem 0.5rem 3rem 0.5rem;*/
}

.layout {
    position: absolute;
    width: 45.6rem;
    height: 33.5rem;
    background: #ffffff;
    top: 24.5rem;
    left: 5rem;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
}

.layout__info {
    position: relative;
    width: 32rem;
    height: 8rem;
    color: black;
    top: 30rem;
    left: 9rem;
    font-family: 'Merriweather';
    font-size: 2.5rem;
    line-height: 3rem;
}

.span {
    color: #f78065;
}

.layout__latim {
    position: relative;
    width: 32rem;
    height: 8rem;
    top: 30.5rem;
    left: 9rem;
    font-family: 'montserrat';
    line-height: 1.5rem;
    opacity: 0.6;
}

.button {
    position: relative;
    width: 15rem;
    height: 4rem;
    top: 29rem;
    left: 9rem;
    /*padding: 0.75rem 1.5rem 0.75rem 1rem;*/
    background: #f78065;
    font-family: 'montserrat';
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    border: none;
}

.img-resource {
    position: relative;
    top: 29.3rem;
    left: -3.3rem;
}

#img {
    position: relative;
}

.img-cube {
    position: inherit;
    top: -21rem;
    left: 7.8rem;
}

.img-group {
    position: inherit;
    top: -23rem;
    left: 75rem;
}
