@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    /*background: blue;*/
    font-size: 100%;
}

header {
    width: 1440px;
    height: 650px;
    left: 0px;
    top: 0px;
    position: sticky;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: -39rem;
}

/*.info-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}*/

.main__img {
    margin-top: -2rem;
}

.main__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    padding: 4rem;
    position: absolute;
    width: 45.6rem;
    height: 33.5rem;
    background: #ffffff;
    top: 24.5rem;
    left: 5rem;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
}

.main__title {
    width: 32rem;
    font-family: 'Merriweather';
    font-size: 2.5rem;
    line-height: 3rem;
}

.main__span {
    color: #f78065;
}

.main__subtitle {
    font-family: 'montserrat';
    line-height: 1.5rem;
    opacity: 0.6;
}

.main__button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 15rem;
    height: 4rem;
    background: #f78065;
    font-family: 'montserrat';
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    border: none;
}

.main__button--img {
    margin-left: 4rem;
}
